$darkBlue: rgba(2, 48, 124, 1);
$lightBlue: rgba(1, 82, 204, 1);
$white: rgba(255, 255, 255, 1);
$darkRed: rgba(112, 2, 2, 1);
$lightRed: rgba(199, 2, 2, 1);
$lightGold: rgba(219, 170, 5, 1);
$darkGold: rgba(185, 140, 4, 1);
$pill-button: 999px;
$lightGray: rgba(173,168,168,.5);
$darkGreen: rgba(2, 99, 9, 1);
$lightGreen: rgba(9, 168, 20, 1);
