.create-invoice-container {
  background-color: $lightGray;
  width: 100%;
  min-height: 100%;
}

.create-invoice-title {
  padding: 1.5rem 0;
}

.create-invoice-hr {
  background-color: black;
  height: .1rem;
}

.add-trans-button {
  height: 3rem;
  width: 3rem;
  font-size: 28px;
  background-color: $darkGreen;
  border: 2px solid $darkGreen;
  color: $white;
  @include transition(background-color 500ms);
  &:hover {
    background-color: $lightGreen
  }
}

#transaction-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    label {
      padding-top: .5rem;
    }
}

.submit-trans {
  background-color: $darkBlue;
  color: $white;
  border: 2px solid $darkBlue;
  border-radius: $pill-button;
  @include transition(background-color 500ms);
  &:hover {
    background-color: $lightBlue;
  }
  &:focus {
    background-color: $lightBlue;
  }
}

.cancel-trans {
  background-color: $darkRed;
  border: 2px solid $darkRed;
  color: $white;
  border-radius: $pill-button;
  @include transition(background-color 500ms);
  &:hover {
    background-color: $lightRed;
  }
  &:focus {
    background-color: $lightRed;
  }
}

.invoice-label {
  font-size: 22px;
  font-weight: bold;
}

.price-quote-box {
  font-size: 22px;
  font-weight: bold;
}

.invoice-total-container {
  display: flex;
  flex-direction: column;
}

.tax-amount-box {
  font-size: 22px;
  font-weight: bold;
  width: 30%;
  margin: 0 auto;
}

.tax-selection-list {
  display: flex;
  margin: .75rem auto;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.invoice-subtotal,
.invoice-total,
.invoice-tax {
  display: flex;
  width: 20%;
  margin-left: auto;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
  border: 2px solid black;
  padding: 0 1rem;
  box-shadow: 0 0 8px;
}
