.create-invoice-container {
  background-color: $lightGray;
}

.create-invoice-title {
  padding: 1.5rem 0;
}

#create-invoice-form {

}

.invoice {
  font-size: 22px;
}

.price-quote-box {
  font-size: 22px;
  font-weight: bold;
}
