.signup-container {
  background-image: url('../images/money-background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: 100vw;
}

.slide-fade-enter-active {
  @include transition(opacity 500ms ease-in, transform 500ms ease-in)
}

.slide-fade-leave-active {
  @include transition(opacity 500ms ease-out, transform 500ms ease-out)
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: rotate(60deg) translateX(100px);
  opacity: 0;
}
