.signin-container {
  position: absolute;
  top: 12.5%;
  left: 27.5%;
  width: 45%;
  height: 82%;
  background: rgba(0, 0, 0, .5);
  color: $white;
  border: 2px solid rgba(185, 140, 4, 1);
  box-shadow: 0 0 10px rgba(185, 140, 4, 0.75);
  border-radius: 5%;
}

.avatar {
  position: absolute;
  height: 125px;
  top: -15%;
  left: calc(50% - 10%);
}

.signin-title {
  padding: 3rem 0 .5em 0;
  border-bottom: 2px dashed white;
}

#signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    padding-top: .75rem;
  }
  input {
    outline: none;
    user-select: none;
    border: none;
    background-color: transparent;
    color: $white;
    width: 70%;
    border-bottom: 1px solid white;;
  }
}

.login-btn-container {
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.login-btn,
.reset-pass-btn {
  padding: .5rem 1.5rem;
  margin: .5rem 1rem;
}

.login-btn {
  background-color: $darkBlue;
  color: $white;
  border: 2px solid $darkBlue;
  border-radius: 20%;
  @include transition(background-color 500ms);
}

.login-btn:hover {
  background-color: $lightBlue;
}

.reset-pass-btn {
  background-color: $darkRed;
  border: 2px solid $darkRed;
  color: $white;
  border-radius: 20%;
  @include transition(background-color 500ms);
}

.reset-pass-btn:hover {
  background-color: $lightRed;
}

.login-loading-msg {
  color: $lightRed;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.register-btn {
  padding: .75rem 1.5rem;
  margin-top: .75rem;
  border: 2px solid $darkBlue;
  background-color: $darkBlue;
  color: $white;
  border-radius: 20%;
  @include transition(background-color 500ms);
}

.register-btn:hover {
  background-color: $lightBlue;
}

.line-between-login-register {
  position: relative;
}

.line-between-login-register::before {
  content: '';
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-bottom: 1px solid white;
  top: 50%;
  right: 105%;
  z-index: 1;
}

.line-between-login-register::after {
  content: '';
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-bottom: 1px solid white;
  top: 50%;
  left: 105%;
  z-index: 1;
}
