.profile {
  background-color: $lightGray;
  min-height: 100vh;
}

.num-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.profile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.profile-tab {
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

.btn {
  margin-top: 20px;
}

.company-button {
  margin: 20px 10px;
}

.user, .company, .business, .employee {
  width: 90%;
}
