.side-nav-bar-container {
  background-color: $darkGray;
  position: absolute;
  top: 20;
  left: 0;
  width: 80px;
  padding: 10px;
  min-height: 100vh;
  border: solid rgba(0, 0, 0, .8);
  border-width: 0 2px 0 0;
  @include transition(width 500ms ease-in-out);

  .side-nav-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-bottom: 10px;

    .icon {
      font-size: 2rem;
      cursor: pointer;
      @include transition(color 500ms ease-in-out, transform 500ms ease-in-out);
    }
  }

  &.show {
    width: 220px;

    .side-nav-control > .icon {
      color: #fff;
      transform: rotateZ(-180deg);
    }

    .side-nav-icons {
      color: #fff;
    }
  }

  .side-nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    float: left;

    .icon-links {
      color: rgba(0, 0, 0, 1);
    }

    .icon {
      font-size: 3rem;
      padding: 10px 0;
      cursor: pointer;
      @include transition(color 500ms ease-in-out);

      &:hover {
        color: #fff;
      }
    }
  }

  .side-nav-links {

    .router-links {
      font-size: 1.25rem;
      line-height: 3rem;
      color: rgba(0, 0, 0, 1);
      cursor: pointer;
      @include transition(color 500ms)

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.side-nav-fade-enter-active, .side-nav-fade-leave-active {
  @include side-nav-childs(1, 2, 3)
}

.side-nav-fade-enter, .side-nav-fade-leave-to {
  transform: scale(0);
}
